# Android Studio / IntelliJ
.gradle
/local.properties
/.idea/
/.vscode/
/build
.settings
.project
.classpath

# Android Build
capture/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
app/build/

# Firebase / Secrets (REQUESTED)
app/google-services.json

# Temporary files
*.hprof
*.log
*.tmp
.DS_Store

# Kotlin
/lib
